*{
	padding:0px;
	margin:0px;
}
	
@font-face {
	font-family: Philosopher;
	src:url('philosopher.ttf');
	-fs-pdf-font-embed: embed;
	}

@page {
  size: 210mm 297mm;
  margin-left:15mm;
  margin-right:15mm;
  margin-top:15mm;
  margin-bottom:15mm;
}

@page:first {
  size: 297mm 210mm;
}

body {
	font-family: Philosopher;
}
  
.firstPage{
  width:274mm; height:184.6mm;
}
  
.secondPage{
  width:184.6mm; height:271.5mm;
}

